.linkHome{
  text-decoration: none !important;
  color: white;
  background-color: #220644;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.linkToMap{

  background-color: #220644;
  color: white;
  width: 300px;
  height: 100px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;
  padding: 10px;
  font-size: 1.5em;

}

.image{
  width: 60vw;
  margin-bottom: 20px;
}