$kumViolet: #220644;
$kumLightGray: #F9F9F9;
$kumGray: #cecece;
$kumGraySecond: #969CB3;



.mainInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  

}

.description{
  padding: 20px;
  font-size: 1.5em;
}


.author, .place, .dressCode{

  padding-left: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 1em;
}


.now, .last, .next{
  transition: 0.3s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100vw;
  height: 300px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2);
  position: relative;
}


.now{

  background-color: $kumViolet;
  height: 100px;
}

.last{

  height: 70px;
  color: $kumViolet;
  background-color: $kumLightGray;
  font-size: 0.8em;
}

.next{

  height: 50px;
  font-size: 0.8em;
  background-color: $kumGraySecond;
}

.eventTime{
  padding: 30px 20px;
  width: 150px;
  font-size: 1em;
  font-weight: 100;



}

.eventName{
  width: 200px;
 font-weight: 600;
  font-size: 1em;
  margin-right: 30px;



}

i{
  cursor: pointer !important;

  font-size: 20px;

  position: absolute;
  right: 30px;
}


i:last-of-type{
  font-size: 2em;
}


.expandedNowEvent, .expandedLastEvent, .expandedNextEvent{
  transition: 0.3s;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  color: white;
  border-radius: 10px;
  margin: 10px;
  width: auto;
  min-height: 300px;
  -webkit-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2);
  position: relative;
  cursor: pointer;
  border-radius: 0px;

}



.expandedNowEvent{
  width: 100vw;
  border-radius: 0px;
  background-color: $kumViolet;
}


.expandedLastEvent{
  border-radius: 0px;

  width: 100vw;
  color: $kumViolet;
  background-color: $kumLightGray;
  font-size: 0.8em;

}


.expandedNextEvent{
  border-radius: 0px;
  width: 100vw;
  font-size: 0.8em;
  background-color: $kumGraySecond;

}