.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;

  h1{
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  p{
    font-size: 1em;
    b{
      display: block;
      margin-top: 20px;
    }
  }
  .linkHome{
    text-decoration: none !important;
    color: white;
    background-color: #220644;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
  }
}