.logoWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoKum{

   height: 100px;


 }
.logoWSPol{
  height: 80px;
}
.logoSUWSPol{
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;

 border-radius: 100px;
}
.mainTitle{
  margin-top: 20px;
  font-size: 1.5em;
}

.secondaryTitle{
  font-size: 0.8em;
  font-weight: 100;
  margin-bottom: 20px;
}